.brick {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 24px;
  break-inside: avoid;
}

.container {
  column-count: 3;
  column-gap: 24px;
}

img {
  max-width: 100%;
  display: block;
}

.brick > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

@media only screen and (min-width: 200px) and (max-width: 1023px) {
  .container {
    column-count: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    column-count: 3;
  }
}
