.searchBar {
  display: flex;
  width: 80%;
  justify-content: center;
}

input {
  background-color: #eaeaea;
  width: 100%;
  padding: 12px;
  padding-left: 24px;
  border: none;
  border-radius: 24px;
  margin: 24px 0px;
  outline: none;
}
